
body {
    background-color: black;
    color: white; /* Change text color for better contrast */
    height: 100vh; /* Set height to 100% of the viewport height */
    margin: 0; /* Remove default margin */
    font-family: 'Orbitron', sans-serif; /* Use the chosen font */
    text-align: left;/* Center align text */
    align-items: left;
}
